@font-face {
    font-family: "Cosimacore";
    src: url("Fonts/Fontspring-DEMO-cosimacore-regular.otf") format("opentype");
}

@font-face {
    font-family: "FormativeTrial";
    src: url("Fonts/FormativeTrial-Regular-BF656fed9028715.otf") format("opentype");
}

@font-face {
    font-family: "Ruberoid";
    src: url("Fonts/Pepper\ Type\ -\ Ruberoid-UltraLight.otf") format("opentype");
}

*, *::before, *::after {
    margin: 0;
   box-sizing: border-box;
}

body {
    overflow-x: none;
}


/* ::-webkit-scrollbar {
    display: none;
    } */

.bloc {
    height: 100vh;
}


/* Souris */
.cursor{
    z-index: 998;
    border: 0;
    /* width: 20px;
    height: 20px; */
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-in-out;
    animation: cursorAnim 1s infinite alternate;
    user-select: none;
}

.cursor:after {
    content: "";
    top: 8px;
    left: 8px;
    width: 20px;
    height: 20px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
}

.expand{
    animation: cursorAnim2 .5s;
}

.vanish{
    animation: cursorAnim3 .5s forwards;
}
.appear{
    animation: cursorAnim4 2s ;
}

@keyframes cursorAnim {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(.8)
    }
}

@keyframes cursorAnim2 {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1);
        opacity: 0; 
    }
}


@keyframes cursorAnim3 {
    0% {
        opacity: 100;
    }

    100% {
        transform: scale(3);
        opacity: 0; 
    }
}

@keyframes cursorAnim4 {
    from {
        transform: scale(3);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 100; 
    }
}

/* Premier bloc */

.pediluve {
    position: relative;
    display: grid;
    border-collapse: collapse ;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 100%;
    width: 100%;
    border: solid 1rem black;
    background-color: #ece0d4;
    


}

.prenom, .nom, .job, .char {
    position: absolute;
    font-family: 'FormativeTrial';
    opacity: 0;
    animation: appear 1s forwards 0.75s;
    /* user-select: none; */
}

.prenom, .nom, .job{
    font-size: 25vh;
    /* background-color: #ece0d4; */
    backdrop-filter: blur(21px);
}

.prenom {
    top: calc(0vh - -1px);
    left: 7vw;
}

.nom {
    top: calc(29vh - 2px);
    left: 43vw;
}

.job {
    font-size: 10vh;
    top: 78vh;
    left: 24vw;
    display: flex;
}


.line {
    border: 42px solid black;
    animation: squares 1s forwards ease-out;

}

@keyframes squares {
    from {
        border: 42px solid black;
    }
    to {
        border: 1px solid black;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bloc {
    height: 120vh;
}

.bloc:nth-child(even) {
    background-color: grey;
}

p, h2, h3, ul {
    font-size: 4rem;
    font-family: "Ruberoid" ;
}

ul {
    list-style: none;
}

footer {
    background-color: red;
}

